.form {
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: coral;
}